.completed_order {
background: radial-gradient(circle at left, rgb(43 39 39 / 60%), transparent 40%), radial-gradient(circle at right, rgb(43 39 39 / 60%), transparent 40%), #000000;
}

.completed_order img {
  margin-bottom: 110px !important;
}